{% extends 'base.html' %}

{% block title %}
Создать событие
{% endblock title %}


{%block body%}

<div class="main">
    <h1>Создать событие</h1>

    {%for i in get_flashed_messages()%}
    <div class="flash"> {{i}} </div>
    {% endfor %}

    <div class="forma">

        <form action="" method="post">
        <p>Название:
            <br><input type="text" name="title">

        <p>Дата*:
            <br><input type="date" name="event_date" required>
        </p>

        <p>Место
            <br><input type="text" name="place">
        </p>

        <p>Описание
            <br><textarea name="description" cols="30" rows="10" name="description"></textarea>
        </p>

        {%if drinks%}
        <p><input type="submit" value="Сохранить"></p>
        {%else%}
        <p style="color:rgb(206, 0, 0)">Вы не можете добавлять события, пока у вас нет напитков! Создайте напиток <a href="drinks" style="color:rgb(206, 0, 0)" ><u>здесь</u></a></p>
        {%endif%}
    </form>
    </div>
</div>

{%endblock body%}