{% extends 'base.html' %}

{% block title %}
История
{% endblock title %}


{%block body%}

<div class="main">
    <h1>История событий</h1>

    {%for i in get_flashed_messages()%}
    <div class="flash"> {{i}} </div>
    {% endfor %}

    <p><img src="/static/img/add.png" style="height: 24px;"> <a href="/create_event">Создать событие</a></p>

    <ul>
        {%if events%}
        {%for i in events%}
        <div class="event">
            <li>
                <p> <a href="{{url_for('event', event_id = i.id)}}"><b><u>{{i.event_date}}</u> - {{i.title}}</b></a>   
                    <a href="{{url_for('delete_event', event_id = i.id)}}"> <img src="static/img/delete.png" alt="Удалить" class="hidden"></a>
                    <br>{{i.place}}
                    <br>
                    <br> <i>{{i.descript}}</i>
                </p>
            </li>
        </div>
        {%endfor%}

        {%else%}
        <p>У вас пока нет событий, но вы можете их добавить</p>
        {%endif%}
    </ul>
</div>

{%endblock body%}