{% extends 'base.html' %}

{% block title %}
Авторизация
{% endblock title %}


{%block body%}

<div class="main">
    <h1>Авторизация</h1>

    <div class="forma">
        <form action="" method="post">
            <p><label>Логин:
                    <br><input type="text" name="nickname" required minlength="4"> </label>
            <p><label>Пароль:
                    <br><input type="password" name="psw" required minlength="4"></label>
            <p><input type="submit" value="Сохранить"></p>
        </form>
    </div>
</div>

{%endblock body%}