{% extends 'base.html' %}
      
{% block title %}
Профиль
{% endblock title %}


{%block body%}

<div class = "main">
    <h1>Профиль</h1>

    <p>id: {{id}} 
    <br>Имя: {{nickname}} 
    <br>Любимый напиток: {%if fauvorite_drink%}{{fauvorite_drink[0]}} {%else%}Таких пока нет {%endif%}
    <br>Выпито: {%if stats[1]%} {{stats[1]/1000}}л {%else%}0мл {%endif%}
    <br>Потрачено денег:{%if stats[0]%} {{stats[0]}}₽ {%else%} 0₽ {%endif%} </p>
    
    <div class = "forma"><form action="/logout" method="get"> <input type="submit" value="Выйти из аккаунта"> </form></div>
</div>

{%endblock body%}