{% extends 'base.html' %}
      
{% block title %}
Регистрация
{% endblock title %}


{%block body%}

<div class="main">
    <h1>Регистрация</h1>

    <div class="forma">
        <form action="" method="post">
            <p><label>Логин:
                    <br><input type="text" name="nickname" required min="4"> </label>
            <p><label>Пароль:
                    <br><input type="text" name="psw"></label>
            <p><input type="submit" value="Сохранить"></p>
        </form>
    </div>
</div>
{%endblock body%}