{% extends 'base.html' %}
      
{% block title %}
Регистрация
{% endblock title %}


{%block body%}

<div class="main">
    <h1>Регистрация</h1>

    {%for i in get_flashed_messages()%}
    <div class="flash"> {{i}} </div>
    {% endfor %}
    
    <div class="forma">
        <form action="" method="post">
            <p><label>Логин:
                    <br><input type="text" name="nickname" required minlength="4"> </label>
            <p><label>Пароль:
                    <br><input type="password" name="psw" minlength="4" required></label>
            <p><input type="submit" value="Сохранить"></p>
        </form>
    </div>
</div>
{%endblock body%}