{% extends 'base.html' %}

{% block title %}
Настройки
{% endblock title %}


{%block body%}

<div class="main">
    <h1>Настройки</h1>

    {%for i in get_flashed_messages()%}
    <div class="flash"> {{i}} </div>
    {% endfor %}

    <div class="forma">
        <form action="" id = "name" method="post">
            <p><label>Сменить имя: {{name}}
                    <br><input type="text" name="new_name" required minlength="4"> </label> 
                    <p><input type="submit" value="Сохранить имя"></p>
                </form>

            <form action="" id="password" method="post">
            <p><label>Сменить пароль:
                    <br><input type="text" name="new_password"></label>
                <p><input type="submit" value="Сохранить пароль" required minlength="4"></p>
            </form>
       
    </div>
</div>

{%endblock body%}